header{
    width:100%;
    height:40%;
    display: flex;
    background: rgba(231, 72, 10, 0.445);
    color: blanchedalmond;
    
}
.react-meals{
margin-left: 100px;   

}
.cart-button{
    
    margin-left: 800px;
    margin-top: 20px;
    
}
button{
    width:260px;
    height: 50px;
    font-size: large;
    border: 0.5px rgba(110, 58, 38, 0.445) ridge;
    background:rgba(75, 36, 21, 0.445);
    border-radius: 20px;
    color: blanchedalmond;
    
}

.cart-count{
    margin-right: 20px;
    width:30px;
    display:inline-block; 
  background: rgba(231, 72, 10, 0.445);
  border: 0.5px rgba(231, 72, 10, 0.445);
  border-radius: 20px;
}
