.available-meal__listinner{
   display:inline;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
.available-meal__listinner h3{
    margin: 0 0 0.25rem 0;
    color:black;
    font-size: x-large;
    width:290px
}
.description{
    font-style: italic;
    width: 290px;
    justify-content: center;
   color:black;
   font-size: x-large;
}
.price{
    margin-top: 0.25rem;
  font-weight: bold;
  color: #0502ad;
  font-size: 1.25rem;
}
input{
  font-size:xx-small;
  width: 60px;
  
}
label{
  font-weight: bolder;
  margin: 0.5rem;
}
.btn-add{
  cursor: pointer;
    font: inherit;
    width:80px;
    border: none;
    background-color: #4d1601;
    color: white;
    display:block;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    position: relative;
    margin: 1rem;
    margin-left: 2.5rem;
    right: 0;
   bottom: 5px;
   text-align: center;

}
.form-div{
  font-size: large;
  display: flex;
  float:inline-end;
  position: relative;
}
.dishes-image{
  display: flex;
  width: 390px;
  height: 300px;
  margin-left: 0;
  margin-right: 0;
  border: 2px ridge black;
  border-radius: 10px;

}
.images{
  justify-content: center;
  width: 385px;
  height: 299px; ;
  display: block;
}
h3{
  width:190px;
  justify-content: center;
}
.meals{
  justify-content: center;
  margin-left: 0;
  font-size: larger;
  width: 300px;
  height:80px;
  text-align: center;
 
}
.error{
  color:red;
}
